# target folder
/target/

# IntelliJ files
.idea/
*.iml

# CI config
/ci/
/auth/

# Allure test report
/allure-*/

# Allure config
categories.json

# local development
entrypoint.sh
reports-generator.sh
Makefile
Dockerfile